<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TravelMaker</title>
    <link rel="stylesheet" th:href="@{/css/header.css}" />
</head>
<body>

<header class="header">
    <nav class="navbar">
        <a href="#" data-bs-toggle="modal" data-bs-target="#friendModal">친구목록</a>
        <a href="#">Home2</a>
        <a href="#">Home3</a>
        <a href="#">Home4</a>
        <a href="#">Home5</a>
    </nav>

    <nav class="navbar" style="display: flex; justify-content: space-between;">
        <h5>
            <span th:text="${username}" style="margin-left: auto;"></span> 님 안녕하세요!
            &nbsp;&nbsp;&nbsp;&nbsp;
        </h5>
        <a href="/travelmaker/user/logout">로그아웃</a>
    </nav>

</header>

</body>
<script src="/js/login2.js"></script>
</html>