<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Split Screen Example</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!--header-->
<div th:insert="~{/travelmaker/main/header :: headerFragment}"></div>
<!--header-->

<div class="split-container">
    <!--왼쪽 시작(party)-->
    <div class="split-left">
        <ul th:each="party: ${partyDTO}">
            <li>
                <!--                <a th:href="@{'/travelmaker/main/list?pno=' + ${party.pno}}" th:text="${party.party_name}"></a>-->
                <a th:href="@{'/travelmaker/main/list?pno=' + ${party.pno} + '&uno=' + ${uno}}" th:text="${party.party_name}"></a>
            </li>
        </ul>
    </div>
    <!--왼쪽 끝(party)-->



    <!--오른쪽 시작(plan)-->

    <div class="split-right">
        <button class="add-button" type="button" th:onclick="click_add()">plan 추가</button>
        <div id="carousel-wrapper">
            <div id="carousel">
                <th:block th:each="plan : ${planDTO}">
                    <div id="carousel-item">
                        <img th:src="${plan.img}" alt=""/>
                        <div id="info">
                            <p th:text="${plan.title}"></p>
                            <p th:text="${plan.start}"></p>
                            <p th:text="${plan.end}"></p>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
        <button id="prev" type="button">prev</button>
        <button id="next" type="button">next</button>
    </div>
    <!--오른쪽 끝(plan)-->
</div>


<script src="/js/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
<script>

    //plan 추가(팝업페이지로 이동):
    function click_add() {
        var url = "planPopup";
        var name = "planPopup";
        var option = "width:=300, height=300, left=100, top=50, location=no";

        window.open(url, name, option);
    };
</script>
</html>
