<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TravelMaker</title>
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/list2.css}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<!--header-->
<div th:replace="/travelmaker/main/header :: header"></div>
<!--header-->


<div class="background"></div>

<div id="container2">
    <div class="split-container">
        <!--왼쪽 시작(party)-->
        <div class="split-left">
            <div class="d-flex align-items-center mb-3">
                <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="modal"
                        data-bs-target="#createPartyModal">
                    Party+
                </button>
                <button type="button" class="btn btn-outline-danger me-2" data-bs-toggle="modal"
                        data-bs-target="#deletePartyModal">
                    Party-
                </button>
                <input type="text" class="form-control" id="autoCompleteInput" placeholder="Search Party"/>
                <input type="hidden" th:value="${uno}" id="autoCompleteUno">
            </div>

            <ul th:each="party: ${partyDTO}">
                <li>
                    <a th:href="@{'/travelmaker/main/list2?pno=' + ${party.pno} + '&uno=' + ${uno}}"
                       th:text="${party.party_name}"></a>
                </li>
            </ul>
        </div>
        <!--왼쪽 끝(party)-->


        <!--오른쪽 시작(plan)-->
        <div class="split-right">
            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#createPlanModal">
                Plan+
            </button>
            <br><br><br>
            <div id="carousel-wrapper">
                <div id="carousel">
                    <th:block th:each="plan : ${planDTO}">
                        <div id="carousel-item">
                            <img th:src="${plan.filepath}" alt=""/>
                            <div id="info">
                                <a th:href="@{'/travelmaker/plan/planDetail?plno=' + ${plan.plno}+ '&pno=' + ${pno}}"
                                   th:text="${plan.title}"></a>
                                <p th:text="${plan.start}"></p>
                                <p th:text="${plan.end}"></p>
                                <button type="button" class="btn btn-outline-warning modify-plan" th:data-plno="${plan.plno}">수정</button>
                                <button class="btn btn-outline-info" type="button" th:data-plno="${plan.plno}" th:onclick="showDeleteConfirmationModal(this.getAttribute('data-plno'))">삭제</button>
                            </div>
                        </div>
                    </th:block>
                </div>
                <button id="prev" type="button"></button>
                <button id="next" type="button"></button>
            </div>
        </div>
        <!--오른쪽 끝(plan)-->
    </div>
</div>

<!--파티 생성 모달-->
<div class="modal fade" id="createPartyModal" tabindex="-1" aria-labelledby="createPartyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createPartyModalLabel">파티 추가</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form name="form" th:action="@{/travelmaker/main/partyPopup}" method="post"
                  enctype="multipart/form-data">
                <div class="modal-body">
                    <input type="hidden" name="uno" th:value="${uno}">
                    <input type="hidden" name="pno" th:value="${pno}">
                    <!-- 제목 입력 -->
                    <div class="mb-3">
                        <label for="title" class="form-label">Party Name</label>
                        <input type="text" class="form-control" id="title" name="title" required>
                    </div>
                    <!-- 친구 추가 -->
                    <div class="form-check">
                        <label for="title" class="form-label">Add Party Members</label>
                        <div th:each="friend: ${friendDTO}">
                            <h7 th:text="${friend.name}"></h7>
                            <input class="form-check-input" type="checkbox" th:value="${friend.fno}"
                                   name="selectedFriends" id="friendCheckbox">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="submit" class="btn btn-primary">Add Party</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--파티 생성 모달-->

<!--파티 삭제 모달-->
<div class="modal fade" id="deletePartyModal" tabindex="-1" aria-labelledby="deletePartyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deletePartyModalLabel">파티 삭제</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form name="form" th:action="@{/travelmaker/main/deleteParty}" method="post"
                  enctype="multipart/form-data">
                <div class="modal-body">
                    <input type="hidden" name="uno" th:value="${uno}">
                    <input type="hidden" name="pno1" th:value="${pno}">
                    <!-- 제목 입력 -->
                    <div class="mb-3">
                        <label for="title" class="form-label">파티 리스트</label>
                        <div th:each="party: ${partyDTO}">
                            <div>
                                <input class="form-check-input" type="checkbox" th:value="${party.pno}"
                                       name="selectedParties" id="partyCheckbox">
                                <h7 th:text="${party.party_name}"></h7>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="submit2" class="btn btn-danger">삭제하기</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--파티 삭제 모달-->

<!--플랜 생성 모달-->
<div class="modal fade" id="createPlanModal" tabindex="-1" aria-labelledby="createPlanModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createPlanModalLabel">플랜 추가</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form name="form" th:action="@{/travelmaker/main/planPopup}" method="post"
                      enctype="multipart/form-data">
                    <input type="hidden" name="pno" th:value="${pno}">
                    <input type="hidden" name="uno" th:value="${uno}">
                    <!-- 제목 입력 -->
                    <div class="mb-3">
                        <label for="title" class="form-label">Plan Name</label>
                        <input type="text" class="form-control" id="title1" name="title" required>
                    </div>
                    <!-- 사진 첨부 -->
                    <div class="mb-3">
                        <input type="file" class="img" name="file" accept="image/*" onchange="setThumbnail(event);"
                               required>
                        <div id="image_container"></div>
                    </div>
                    <!-- 시작일과 종료일 선택 (달력) -->
                    <div class="mb-3">
                        <label for="start" class="form-label">Start Date</label>
                        <input type="date" class="form-control" id="start" name="start" required>
                    </div>
                    <div class="mb-3">
                        <label for="end" class="form-label">End Date</label>
                        <input type="date" class="form-control" id="end" name="end" required>
                    </div>
                    <button type="submit" id="submit1" class="btn btn-primary">Add Plan</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--플랜 생성 모달-->


<!--플랜 수정 모달-->
<div class="modal fade" id="modifyPlanModal" tabindex="-1" aria-labelledby="modifyPlanModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modifyPlanModalLabel">플랜 수정</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- 수정 폼 -->
                <form id="modifyPlanForm">
                    <input type="hidden" id="modPlno" name="plno" value="$">
                    <div class="mb-3">
                        <label for="modTitle" class="form-label">Plan Name</label>
                        <input type="text" class="form-control" id="modTitle" name="title" placeholder="" required>
                    </div>
                    <div class="mb-3">
                        <label for="modStart" class="form-label">Start Date</label>
                        <input type="date" class="form-control" id="modStart" name="start" required>
                    </div>
                    <div class="mb-3">
                        <label for="modEnd" class="form-label">End Date</label>
                        <input type="date" class="form-control" id="modEnd" name="end" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="modifySaveButton">Save</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--플랜 수정 모달-->


<!--플랜 삭제 확인 모달-->
<div id="deleteConfirmationModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">삭제 확인</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>정말로 삭제하시겠습니까?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteButton" onclick="deletePlan()">삭제</button>
            </div>
        </div>
    </div>
</div>
<!--플랜삭제 확인 모달-->


<!--작업완료 모달-->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">작업 완료</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="successMessage">작업이 성공적으로 완료되었습니다.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">확인</button>
            </div>
        </div>
    </div>
</div>
<!--작업완료 모달-->

<script src="/js/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>