<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create Party Form</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h1>Create New Party</h1>
  <form name="form" th:action="@{/travelmaker/main/partyPopup}" method="post" enctype="multipart/form-data">

    <input type="hidden" name="uno" th:value="${uno}">

    <!-- 제목 입력 -->
    <div class="mb-3">
      <label for="title" class="form-label">Party Name</label>
      <input type="text" class="form-control" id="title" name="title" required>
    </div>

    <!-- 친구 추가 -->
    <div class="form-check">
      <label for="title" class="form-label">파티 멤버 추가</label>
      <div th:each="friend: ${friendDTO}">
        <h7 th:text="${friend.name}"></h7>
        <input class="form-check-input" type="checkbox" th:value="${friend.fno}" name="selectedFriends" id="friendCheckbox">
      </div>
    </div>

    <button type="submit" id="submit" class="btn btn-primary">Create Party</button>
  </form>
</div>

<!-- 부트스트랩 스크립트 링크 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
