<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Single Image Carousel with Info</title>
    <link rel="stylesheet" href="/css/style.css">
<!--    <div th:insert="~{header :: headerFragment}"></div>-->
</head>
<body>

<button class="add-button" type="button" onclick="click_add()">plan 추가</button>

<div class="carousel-wrapper">
    <div class="carousel">
        <th:block th:each="plan : ${planDTO}">
            <div class="carousel-item">
                <img th:src="${plan.img}" alt="" />
                <div class="info">
                    <p th:text="${plan.title}"></p>
                    <p th:text="${plan.start}"></p>
                    <p th:text="${plan.end}"></p>
                </div>
            </div>
        </th:block>
    </div>
</div>
<button class="prev" type="button">prev</button>
<button class="next" type="button">next</button>
<script src="/js/index.js"></script>
</body>
<script>
    //plan추가(팝업페이지로 이동):
    function click_add() {
        var url = "planPopup";
        var name = "planPopup";
        var option = "width:=300, height=300, left=100, top=50, location=no";
        window.open(url, name, option);
    };
</script>

</html>
