<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TravelMaker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<div th:insert="~{header :: headerFragment}"></div> <!--헤더 가지고 온 코드 -->
<body>
<h1> plan LIST</h1>
<button class="add-button" type="button" onclick="click_add()">plan 추가</button>

<h1>Plan Details</h1>
<div>
    <div th:if="${planDTO}">
        <p>타이틀: <span th:text="${planTitle}"></span></p>
        <p>시작 날짜: <span th:text="${planStart}"></span></p>
        <p>종료 날짜: <span th:text="${planEnd}"></span></p>
    </div>

    <div th:each="data : ${planDTO}">
        <p>타이틀: <span th:text="${data.title}"></span></p>
        <p>시작 날짜: <span th:text="${data.start}"></span></p>
        <p>종료 날짜: <span th:text="${data.end}"></span></p>
    </div>




<!--    <div>-->
<!--        <h2>Title: <span id="planTitle">Loading...</span></h2>-->
<!--        <p>Start Date: <span id="planStart">Loading...</span></p>-->
<!--        <p>End Date: <span id="planEnd">Loading...</span></p>-->
<!--    </div>-->

<!--    <script>-->
<!--        // JavaScript를 이용하여 세션에서 데이터를 가져와서 HTML에 추가-->
<!--        var planTitle = document.getElementById("planTitle");-->
<!--        var planStart = document.getElementById("planStart");-->
<!--        var planEnd = document.getElementById("planEnd");-->

<!--        planTitle.innerText = sessionStorage.getItem("planTitle") || "No Title";-->
<!--        planStart.innerText = sessionStorage.getItem("planStart") || "No Start Date";-->
<!--        planEnd.innerText = sessionStorage.getItem("planEnd") || "No End Date";-->
<!--    </script>-->
</div>

<!--캐러셀 시작-->
<!--<div id="carouselExampleCaptions" class="carousel slide">-->
<!--    <div class="carousel-indicators">-->
<!--        &lt;!&ndash; 캐러셀 인디케이터 동적으로 생성 &ndash;&gt;-->
<!--        <th:block th:each="data, index : ${planDTO}">-->
<!--            <button type="button" data-bs-target="#carouselExampleCaptions" th:data-bs-slide-to="${index}" th:class="${index == 0} ? 'active' : ''"></button>-->
<!--        </th:block>-->
<!--    </div>-->
<!--    <div class="carousel-inner">-->
<!--        &lt;!&ndash; 캐러셀 항목 동적으로 생성 &ndash;&gt;-->
<!--        <th:block th:each="data, index : ${planDTO}">-->
<!--            <div th:class="${index == 0 ? 'carousel-item active' : 'carousel-item'}">-->
<!--                <img th:src="${data.img}" class="d-block w-100" alt="...">-->
<!--                <div class="carousel-caption d-none d-md-block">-->
<!--                    <h5 th:text="${data.title}"></h5>-->
<!--                    <p th:text="${data.start}"></p>-->
<!--                    <p th:text="${data.end}"></p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </th:block>-->
<!--    </div>-->
<!--    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">-->
<!--        <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--        <span class="visually-hidden">Previous</span>-->
<!--    </button>-->
<!--    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">-->
<!--        <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--        <span class="visually-hidden">Next</span>-->
<!--    </button>-->
<!--</div>-->
<!--캐러셀 끝-->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

<script>
    //plan추가(팝업페이지로 이동):
    function click_add() {
        var url = "planPopup";
        var name = "planPopup";
        var option = "width:=300, height=300, left=100, top=50, location=no";
        window.open(url, name, option);
    };
</script>
</html>