<!--친구검색 view-->
<!doctype html>
<html>
<style>
    body{
        background-color: #FFF7DE;
    }

    .search-from{
        margin: 30px;
        background-color: white;
        width: 586px;
        height: 30px;
        vertical-align: middle;
    }

    .input-text{
        width: 516px;
        height: 30px;
        background: none;
        border: 0px;
        resize: none;
    }
</style>
<head>
    <title>board page</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="board.css">
</head>
<body>
<center>
    <from>
        <fieldset class="search-from">
            <input class="input-text" placeholder="친구를 검색해주세요." type="text">
            <button id="search-btn" type="submit" style="background:none; border:0px;"><img src="images/search_btn.png" class="submit-btn"></button>
        </fieldset>
        </form>

        <table>
            <th>
                <tr style="font-size:30px; border-top:3px solid #FFDE82">
            <td style="border-top:3px solid #FFDE82">fid</td>
            <td style="border-top:3px solid #FFDE82">fname</td>
            <td style="border-top:3px solid #FFDE82">writer</td>
            <td style="border-top:3px solid #FFDE82">date</td>
            </tr>
            </th>
            <tbody>
            <td width="70"></td>
            <td width="500"></td>
            <td width="120"></td>
            <td width="100"></td>
            </tbody>
        </table>
</center>

</body>
</html>