@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
*{
    font-family: "Stylish", sans-serif;
}

li, li a{
    font-size: 20px;
    text-decoration: none;
    list-style-type: none;
    font-weight: bold;
    color: #fff;
}

.jb-division-line {
    border-top: 1px solid #fff;
    margin: 30px 0px;
}

#container2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1600px;
    height: 700px;
    margin-top: 20px;
    /*background: url("../images/background2.png") no-repeat;*/
    background-position: center;
    /*background-size: cover;*/
    backdrop-filter: blur(50px);
    border-radius: 20px;
    border: 7px solid #f72d7a; /* 테두리의 두께와 색상을 설정합니다. */
    /*box-shadow: 0px 0px 30px #fff;*/
    overflow: hidden;
    color: #f72d7a;
}

/* 스플릿 레이아웃 스타일 */
.split-container {
    display: flex;
    height: 100vh;
}
.split-left {
    width: 30%;
    background-color: #f72d7a;
    padding: 20px;
    overflow-y: auto; /* 스크롤 가능하도록 설정 */
    color:#fff;
}
.split-right {
    width: 70%;
    background-color: #141744;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden; /* 스크롤 숨김 */
    color:#fff;

}

#partyleft a {
    box-shadow: inset 0 0 0 0 #fff;
    color: #fff;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

#partyleft a:hover {
    box-shadow: inset 500px 0 0 0 #f72d7a;
    color: white;
}

#carousel-wrapper {
    position: relative;
    width: 600px;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}

#carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

#carousel img {
    width: 600px;
    height: 400px;
}

#info {
    text-align: center;
    margin-top: 10px;
}

#info a {
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;

    box-shadow: inset 0 0 0 0 #f72d7a;
    color: #fff;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

#info a:hover {
    box-shadow: inset 500px 0 0 0 #f72d7a;
    color: #fff;
}

#buttondiv {
    align-content: center;
}

/* 캐러셀 좌우 화살표 스타일 */
#prev,
#next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px; /* 화살표 아이콘 크기 설정 */
    background-color: rgba(255, 255, 255, 0.5); /* 배경 색상 설정 */
    padding: 10px 15px;
    border: none;
    border-radius: 50%; /* 원 형태로 버튼 스타일링 */
    cursor: pointer;
    z-index: 1;
}

#prev {
    left: 550px;
}

#next {
    right: 100px;
}

/* 화살표 아이콘 추가 */
#prev::before,
#next::before {
    content: "❮"; /* 왼쪽 화살표 아이콘 */
}

#next::before {
    content: "❯"; /* 오른쪽 화살표 아이콘 */
}

/* 화살표 아이콘 색상 및 효과 설정 */
#prev:hover,
#next:hover {
    background-color: rgba(255, 255, 255, 0.8); /* 호버 시 배경 색상 변경 */
    color: #f72d7a; /* 아이콘 색상 변경 */
}