body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.split {
    height: 100%;
    position: fixed;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    width: 30%;
    left: 0;
    background-color: #f2f2f2;
}

.right {
    width: 70%;
    right: 0;
    background-color: #f2f2f2;
    /*background-image: url('path-to-your-image.jpg'); !* Replace with actual image path *!*/
    background-size: 70%; /* Set background image size to 70% of right side */
    background-position: center; /* Set background image position to center */
    background-repeat: no-repeat;
    /*color: white;*/
}

.scrollable {
    height: calc(100% - 40px); /* Subtract padding-top and padding-bottom */
    overflow-y: scroll;
    padding: 10px;
}

h2 {
    text-align: center;
}
