/*@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,500&display=swap');*/
/**{*/
/*    font-family: "poppins", sans-serif;*/
/*}*/
@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
*{
    font-family: "Stylish", sans-serif;
}

#container2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 1600px;
    height: 700px;
    margin-top: 20px;
    /*background: url("../images/background2.png") no-repeat;*/
    background-position: center;
    /*background-size:cover ;*/
    backdrop-filter: blur(50px);
    border-radius: 20px;
    /*border: 1px solid #f72d7a;*/
    box-shadow: 0px 0px 30px #f72d7a;
    overflow: hidden;
    color: #fff;
}

/* 스플릿 레이아웃 스타일 */
.split-container {
    display: flex;
    height: 100vh;
}
.split-left {
    width: 30%;
    background-color: #141744;
    padding: 20px;
    overflow-y: auto; /* 스크롤 가능하도록 설정 */
}
.split-right {
    width: 70%;
    /*background-color: #fff;*/
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden; /* 스크롤 숨김 */
}

#detail h3 {
    font-size: 30px;
    text-decoration: none;
    font-weight: bold ;
    color: #fff;
}


/*!* 버튼 수정 *!*/
.wrap2 {
    position: absolute;
    /*top: 50%;*/
    /*left: 50%;*/
    /*margin-top: -86px;*/
    /*margin-left: -89px;*/
    text-align: center;
}

.wrap2 a {
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    display: block;
    /*margin: 20px auto;*/
    max-width: 300px;
    text-decoration: none;
    border-radius: 4px;
    padding: 10px 10px;
}

.wrap2 a.button {
    color: #fff;
    box-shadow: #f72d7a 0 0px 0px 2px inset;
}

.wrap2 a.button:hover {
    color: #fff;
    box-shadow: #f72d7a 0 0px 0px 40px inset;
}

.wrap2 a.button2 {
    color: #fff;
    box-shadow: #f72d7a 0 0px 0px 2px inset;
}

.wrap2 a.button2:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: rgba(30, 22, 54, 0.7) 0 80px 0px 2px inset;
}

#map-section {
    display: block; /* 초기에 지도를 표시합니다. */
}

#gallery-section {
    display: none; /* 초기에 갤러리를 숨깁니다. */
}

#gallery-wrapper {
    display: flex;
    /*overflow-y: scroll;*/
    overflow-x: auto;
    white-space: nowrap;
}

.image-container {
    margin-right: 20px; /* 이미지 간격 조절 */
}

.image-zoom {
    max-width: 300px; /* 이미지 최대 너비 조절 */
    height: auto;
    width: 300px;
    height: 300px;
}
