<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8' />
  <style>
    .fc-event{
      margin-top: 5px;
      cursor: move;
    }
  </style>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
  <script src='ko.js'></script>
  <script>

    var calendar = null;

    $(document).ready(function() {
      var Calendar = FullCalendar.Calendar;
      var Draggable = FullCalendar.Draggable;

      var containerEl = document.getElementById('external-events');
      var calendarEl = document.getElementById('calendar');
      var checkbox = document.getElementById('drop-remove');

      // initialize the external events
      // -----------------------------------------------------------------

      new Draggable(containerEl, {
        itemSelector: '.fc-event',
        eventData: function(eventEl) {
          return {
            title: eventEl.innerText
          };
        }
      });

      // initialize the calendar
      // -----------------------------------------------------------------

      calendar = new Calendar(calendarEl, {
        headerToolbar: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay'
        },
        editable: true,
        droppable: true, // this allows things to be dropped onto the calendar
        drop: function(info) {
          // is the "remove after drop" checkbox checked?
          if (checkbox.checked) {
            // if so, remove the element from the "Draggable Events" list
            info.draggedEl.parentNode.removeChild(info.draggedEl);
          }
        },
        locale: 'ko'
      });

      calendar.render();
    });

    /*DB 저장*/
    // 1. 전체 이벤트 데이터 추출
    // 2. ajax로 서버에 전송하여 DB에 저장
    function allSave()
    {
      var allEvent = calendar.getEvents();
      console.log(allEvent);

      var events = new Array();
      for (var i=0; i<allEvent.length ; i++)
      {
        var obj = new Object();

        obj.title = allEvent[i]._def.title; //이벤트 명칭
        obj.start = allEvent[i]._instance.range.start; //시작 날짜 시간
        obj.end = allEvent[i]._instance.range.end; //마지막 날짜 시간

        events.push(obj);
      }
      var jsondata =JSON.stringify(events);
      console.log(jsondata);

      savedata(jsondata);
    }
    function savedata(jsondata)
    {
      $.ajax({
        type: 'POST',
        url: "/travelmaker/plan/calendersave",
        data: {"alldata" : jsondata},
        dataType: 'text',
        async: false
      })
              .done(function (result){
              })
              .fail(function (request, status, error){
                alert("에러 발생 : "+error)
              });
    }

    // $(document).ready(function() {
    //   var calendarEl = document.getElementById('calendar');
    //   var calendar = new FullCalendar.Calendar(calendarEl, {
    //     initialView: 'dayGridMonth',
    //     locale: 'ko'
    //   });
    //   calendar.render();
    // });



  </script>

</head>
<body>
<div id='external-events' style="float: left; width: 15%; ">
  <p>
    <strong>스케쥴</strong>
  </p>

  <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
    <div class='fc-event-main'>모달 약속1</div>
  </div>
  <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
    <div class='fc-event-main'>My Event 2</div>
  </div>
  <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
    <div class='fc-event-main'>My Event 3</div>
  </div>
  <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
    <div class='fc-event-main'>My Event 4</div>
  </div>
  <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
    <div class='fc-event-main'>My Event 5</div>
  </div>

  <p>
    <input type='checkbox' id='drop-remove' />
    <label for='drop-remove'>드래그 앤 드롭후 제거</label>
  </p>
</div>

<div style="float: left; width: 80%; padding-right: 30%; padding-left: 20%">
  <div style="height: 30px; text-align: center; font-size: 35px; color: blue; margin-bottom: 30px">캘린더</div>
  <div>
    <button onclick="javascript:allSave();">전체 저장</button>
  </div>
  <div id='calendar'></div>
</div>

</body>
</html>