<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TravelMaker</title>
</head>
<body>
<h1>[ DETAIL PAGE ]</h1>

<table>
    <thead>
    <tr>
        <th>-    pk      -</th>
        <th>-    content     -</th>
        <th>-    startTime    -</th>
        <th>-    endTime  -</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>
            <span th:text="${dto.schdetailPK}"></span>
        </td>
        <td>
            <span th:text="${dto.content}"></span>
        </td>
        <td>
            <span th:text="${dto.startTime}"></span>
        </td>
        <td>
            <span th:text="${dto.endTime}"></span>
        </td>
    </tr>
    </tbody>
</table>

<hr />

<div>
    <button>
        <a th:href="@{/travelmaker/plan/list}">LIST</a>
    </button>

    <button>
        <a th:href="@{/travelmaker/plan/update(schdetailPK=${dto.schdetailPK})}">UPDATE</a>
    </button>

    <button>
        <a th:href="@{/travelmaker/plan/delete(schdetailPK=${dto.schdetailPK})}">DELETE</a>
    </button>
</div>

</body>
</html>