<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TravelMaker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/planDetail.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
<!--header-->
<div th:insert="~{/travelmaker/main/header :: headerFragment}"></div>
<!--header-->

<nav>
    <th:block th:each="plan : ${planDTO}">
        <div id="nav_1">
            <div id="info">
                <h2>
                    [
                    <span th:text="${plan.title}"></span>
                    ]
                </h2>
                <p>
                    <span th:text="${plan.start}"></span>
                    ~
                    <span th:text="${plan.end}"></span>
                </p>
            </div>
        </div>
    </th:block>
</nav>

<div id="main">
    <aside>
        <h6>참가자 명단</h6>
        <ul th:each="attend: ${AttendDTO}">
            <li th:if="${attend.attender == 1}">
                <span th:text="${attend.name}" th:style="${'color: green;'}"></span>
            </li>
            <li th:if="${attend.attender == 0}">
                <span th:text="${attend.name}" th:style="${'color: red;'}"></span>
            </li>
        </ul>
        <div class="wrap">
            <ul th:each="party: ${partyDTO}">
                <a th:href="@{'/travelmaker/main/list?pno=' + ${party.pno} + '&uno=' + ${uno}}"
                   class="back-button">뒤로가기</a>
                <a href="#" class="button" data-bs-toggle="modal" data-bs-target="#attendmodal">참석투표</a>
                <a href="#" class="button2">button3</a>
                <a href="#" class="button">Button</a>
                <a href="#" class="button2">button2</a>
                <a href="#" class="button">Button</a>
                <a href="#" class="button2">button2</a>
            </ul>
        </div>
    </aside>


    <!--지도-->
    <section>
        <div id="map" style="width:100%;height:800px;"></div>
        <input type="hidden" id="plno" th:value="${plnno}">
        <button type="button" id="deleteMarker" class="btn btn-outline-danger me-2"> Reset</button>
    </section>
    <!--지도-->


</div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ee26f1fb7bd8c053dc49854ce7b2d099"></script>
<script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(37.265642537105556, 127.00007891675567), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };

    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다


    //-----------------마커 찍고 DB저장-------------------------//
    function addMarkerAndSaveToServer(position) {
        var marker = new kakao.maps.Marker({
            position: position
        });

        marker.setMap(map);

        // DB 던져줄 Data(lat,lng,plno)
        var lat = position.getLat();
        var lng = position.getLng();
        var plno = document.getElementById("plno").value;

        $.ajax({
            type: "POST",
            dataType: "json",
            url: "saveMarker",
            data: {lat: lat, lng: lng, plno: plno},
            success: function () {
            },
            error: function () {
            }
        });
    }

    // 클릭 이벤트 리스너 등록
    kakao.maps.event.addListener(map, 'click', function (mouseEvent) {
        // 클릭한 위치에 마커를 추가하고 좌표를 서버로 전송
        addMarkerAndSaveToServer(mouseEvent.latLng);
    });
    //-----------------마커 찍고 DB저장-------------------------//


    //-----------------찍혀있는 마커 보여주기-------------------------//
    function addMarker(position) {
        var marker = new kakao.maps.Marker({
            position: position
        });
        marker.setMap(map);
    }

    var plno = document.getElementById("plno").value;
    fetchAndDisplayMarkers(plno);

    function fetchAndDisplayMarkers(plno) {
        $.ajax({
            type: "GET",
            url: "getMarkers",
            data: {plno: plno},
            dataType: "json",
            success: function (data) {
                data.forEach(function (markerData) {
                    var position = new kakao.maps.LatLng(markerData.lat, markerData.lng);
                    addMarker(position);
                });
            },
            error: function (error) {
                console.error("에러:", error);
            }
        });
    }

    //-----------------찍혀있는 마커 보여주기-------------------------//


    document.addEventListener('DOMContentLoaded', function () {
        var resetButton = document.querySelector('#deleteMarker');
        resetButton.addEventListener('click', function () {
            var plno = document.getElementById("plno").value;
            deleteMarker(plno);
        });
    });

    function deleteMarker(plno) {
        $.ajax({
            type: "POST",
            url: "deleteMarkers",
            data: {plno: plno},
            dataType: "json",
            success: function () {
            },
            error: function () {
                location.reload();
            }
        });
    }

</script>
<script src="/js/index.js"></script>
<script src="/js/planDetail.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>


<!----참가 모달----->
<div class="modal fade" id="attendmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">참석 투표</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div th:if="${att == 0}">
                    <form method="post" th:action="@{/travelmaker/plan/attend}">
                        <input type="hidden" th:value="${plnno}" name="plno">
                        <input type="hidden" th:value="${ppno}" name="pno">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="attendance" th:value="1">
                            <label class="form-check-label">참석</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="attendance" th:value="0">
                            <label class="form-check-label">불참</label>
                        </div>
                        <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">투표하기</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    </form>
                </div>
                <div th:if="${att == 1}">
                    <form method="post" th:action="@{/travelmaker/plan/modifyattend}">
                        <input type="hidden" th:value="${plnno}" name="plno">
                        <input type="hidden" th:value="${ppno}" name="pno">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="attendance" th:value="1"
                                   th:checked="${attendCheck == 1}">
                            <label class="form-check-label">참석</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="attendance" th:value="0"
                                   th:checked="${attendCheck == 0}">
                            <label class="form-check-label">불참</label>
                        </div>
                        <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">투표하기</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>
<!----참가 모달 끝----->
<!----참가 모달 스크립트----->
<script>
    // "참석" 체크박스를 선택하면 "불참" 체크박스 선택 해제
    document.querySelector('input[name="attendance"][value="1"]').addEventListener('change', function () {
        if (this.checked) {
            document.querySelector('input[name="attendance"][value="0"]').checked = false;
        }
    });

    // "불참" 체크박스를 선택하면 "참석" 체크박스 선택 해제
    document.querySelector('input[name="attendance"][value="0"]').addEventListener('change', function () {
        if (this.checked) {
            document.querySelector('input[name="attendance"][value="1"]').checked = false;
        }
    });
</script>
<!----참가 모달 스크립트  끝----->
</body>
</html>