<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TravelMaker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/planDetail.css">
</head>

<body>
<!--header-->
<div th:insert="~{/travelmaker/main/header :: headerFragment}"></div>
<!--header-->

<nav>
    <th:block th:each="plan : ${planDTO}">
        <div id="nav_1">
            <div id="info">
                <h2>
                    [
                    <span th:text="${plan.title}"></span>
                    ]
                </h2>
                <p>
                    <span th:text="${plan.start}"></span>
                    ~
                    <span th:text="${plan.end}"></span>
                </p>
            </div>
        </div>
    </th:block>
</nav>

<div id="main">
    <aside>
        <h6>참가자 명단</h6>
        <ul th:each="attend: ${AttendDTO}">
            <li th:if="${attend.attender == 1}" >
                <span th:text="${attend.name}" th:style="${'color: green;'}"></span>
            </li>
            <li th:if="${attend.attender == 0}" >
                <span th:text="${attend.name}" th:style="${'color: red;'}"></span>
            </li>
        </ul>
        <div class="wrap" >
            <ul th:each="party: ${partyDTO}">
                <a th:href="@{'/travelmaker/main/list?pno=' + ${party.pno} + '&uno=' + ${uno}}" class="back-button">뒤로가기</a>
                <a href="#" class="button" data-bs-toggle="modal" data-bs-target="#myModal">참석투표</a>
                <a href="#" class="button2">button2</a>
                <a href="#" class="button">Button</a>
                <a href="#" class="button2">button2</a>
                <a href="#" class="button">Button</a>
                <a href="#" class="button2">button2</a>
            </ul>
        </div>

    </aside>

    <section>
        <div id="map" style="width:100%;height:800px;"></div>
        <p>
            <button onclick="hideMarkers()">마커 감추기</button>
            <button onclick="showMarkers()">마커 보이기</button>
        </p>
    </section>

    <!--    <section>-->
    <!--        <p>section2 부분입니다람쥐</p>-->
    <!--        <article>-->
    <!--            <p>article2 부분입니다람쥐</p>-->
    <!--        </article>-->
    <!--    </section>-->
</div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ee26f1fb7bd8c053dc49854ce7b2d099"></script>
<script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };

    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

    // 지도를 클릭했을때 클릭한 위치에 마커를 추가하도록 지도에 클릭이벤트를 등록합니다
    kakao.maps.event.addListener(map, 'click', function(mouseEvent) {
        // 클릭한 위치에 마커를 표시합니다
        addMarker(mouseEvent.latLng);
    });

    // 지도에 표시된 마커 객체를 가지고 있을 배열입니다
    var markers = [];

    // 마커 하나를 지도위에 표시합니다
    addMarker(new kakao.maps.LatLng(33.450701, 126.570667));

    // 마커를 생성하고 지도위에 표시하는 함수입니다
    function addMarker(position) {

        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({
            position: position
        });

        // 마커가 지도 위에 표시되도록 설정합니다
        marker.setMap(map);

        // 생성된 마커를 배열에 추가합니다
        markers.push(marker);
    }

    // 배열에 추가된 마커들을 지도에 표시하거나 삭제하는 함수입니다
    function setMarkers(map) {
        for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(map);
        }
    }

    // "마커 보이기" 버튼을 클릭하면 호출되어 배열에 추가된 마커를 지도에 표시하는 함수입니다
    function showMarkers() {
        setMarkers(map)
    }

    // "마커 감추기" 버튼을 클릭하면 호출되어 배열에 추가된 마커를 지도에서 삭제하는 함수입니다
    function hideMarkers() {
        setMarkers(null);
    }
</script>
<script src="/js/index.js"></script>
<script src="/js/planDetail.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
<!----참가 모달----->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">참석 투표</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div th:if="${att == 0}">
                    <form method="post" th:action="@{/travelmaker/plan/attend}" >
                        <input type="hidden" th:value="${plnno}" name="plno">
                        <input type="hidden" th:value="${ppno}" name="pno">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="attendance" th:value="1">
                            <label class="form-check-label">참석</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="attendance" th:value="0">
                            <label class="form-check-label">불참</label>
                        </div>
                        <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">투표하기</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    </form>
                </div>
                <div th:if="${att == 1}">
                    <form method="post" th:action="@{/travelmaker/plan/modifyattend}" >
                        <input type="hidden" th:value="${plnno}" name="plno">
                        <input type="hidden" th:value="${ppno}" name="pno">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="attendance" th:value="1" th:checked="${attendCheck == 1}">
                            <label class="form-check-label">참석</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="attendance" th:value="0" th:checked="${attendCheck == 0}">
                            <label class="form-check-label">불참</label>
                        </div>
                        <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">투표하기</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>
<!----참가 모달 끝----->
<!----참가 모달 스크립트----->
    <script>
        // "참석" 체크박스를 선택하면 "불참" 체크박스 선택 해제
        document.querySelector('input[name="attendance"][value="1"]').addEventListener('change', function() {
        if (this.checked) {
        document.querySelector('input[name="attendance"][value="0"]').checked = false;
        }
    });

        // "불참" 체크박스를 선택하면 "참석" 체크박스 선택 해제
        document.querySelector('input[name="attendance"][value="0"]').addEventListener('change', function() {
        if (this.checked) {
        document.querySelector('input[name="attendance"][value="1"]').checked = false;
    }
    });
    </script>
<!----참가 모달 스크립트  끝----->
</body>
</html>