<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TravelMaker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/list.css}" />
    <link rel="stylesheet" th:href="@{/css/planDetail.css}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<!--header-->
<div th:replace="/travelmaker/main/header :: header"></div>
<!--header-->

<body>
<div class="background"></div>

<div id="container2">
    <th:block th:each="plan : ${planDTO}">
        <div id="detail" style="text-align: center">
            <br>
            <h3>
                [
                <span th:text="${plan.title}"></span>
                ]
            </h3>
            <p>
                <span th:text="${plan.start}"></span>
                ~
                <span th:text="${plan.end}"></span>
            </p>
        </div>
    </th:block>
    <div class="split-container">
        <!--왼쪽 시작(party)-->
        <div class="split-left">
            <div id="listdiv"
            <h6>참가자 명단</h6>
            <ul th:each="attend: ${AttendDTO}">
                <li th:if="${attend.attender == 1}">
                    <span th:text="${attend.name}" th:style="${'color: green;'}"></span>
                </li>
                <li th:if="${attend.attender == 0}">
                    <span th:text="${attend.name}" th:style="${'color: red;'}"></span>
                </li>
            </ul>
        </div>
        <br><br><br><br><br>
        <div class="wrap2">
            <ul>
                <a th:href="@{'/travelmaker/main/list?pno=' + ${ppno} + '&uno=' + ${uno}}" class="button">뒤로가기</a><br>
                <a href="#" class="button2" data-bs-toggle="modal" data-bs-target="#attendmodal">참석투표</a><br>
                <a class="button" th:href="@{'/travelmaker/plan/planDetail?plno='+${plnno}+'&pno='+${ppno}}">만남장소</a><br>
                <a href="#" class="button2" id="photo">사진첩</a>
            </ul>
        </div>
    </div>
    <!--왼쪽 끝(party)-->

    <!--오른쪽 시작(plan)-->
    <div class="split-right">
        <!--지도 시작-->
        <section id="map-section">
            <div id="map" style="width:100%;height:500px;"></div>
            <input type="hidden" id="plno" th:value="${plnno}">
            <button type="button" id="deleteMarker" class="btn btn-outline-danger me-2"> Reset</button>
        </section>
        <!--지도 끝-->

        <!--gallery-->
        <section id="gallery-section">
            <button style="font-weight: bold" type="button" id="galleryPlus" class="btn btn-outline-primary" data-bs-toggle="modal">
                사진추가+
            </button>
            <br><br><br>
            <div id="gallery-wrapper">
                <div id="gallerydiv">
                    <th:block th:each="gallery : ${gallery}">
                        <img th:src="${gallery.filepath}" alt=""/>
                    </th:block>
                </div>
            </div>
        </section>
        <!--gallery-->
    </div>
    <!--오른쪽 끝(plan)-->
</div>
</div>

<!--지도 클릭시 생성되는 모달창-->
<div class="modal fade" id="writeTitle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Enter Title</h5>
            </div>
            <div class="modal-body">
                <input type="text" id="markerTitle" class="form-control" placeholder="Enter Title">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="saveButton">Save</button>
            </div>
        </div>
    </div>
</div>
<!--지도 클릭시 생성되는 모달창 끝-->

<!----참가 모달----->
<div class="modal fade" id="attendmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">참석 투표</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div th:if="${att == 0}">
                    <form method="post" th:action="@{/travelmaker/plan/attend}">
                        <input type="hidden" th:value="${plnno}" name="plno">
                        <input type="hidden" th:value="${ppno}" name="pno">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="attendance" th:value="1">
                            <label class="form-check-label">참석</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="attendance" th:value="0">
                            <label class="form-check-label">불참</label>
                        </div>
                        <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">투표하기</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    </form>
                </div>
                <div th:if="${att == 1}">
                    <form method="post" th:action="@{/travelmaker/plan/modifyattend}">
                        <input type="hidden" th:value="${plnno}" name="plno">
                        <input type="hidden" th:value="${ppno}" name="pno">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="attendance" th:value="1"
                                   th:checked="${attendCheck == 1}">
                            <label class="form-check-label">참석</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="attendance" th:value="0"
                                   th:checked="${attendCheck == 0}">
                            <label class="form-check-label">불참</label>
                        </div>
                        <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">투표하기</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>
<!----참가 모달 끝----->

<!--사진추가 모달-->
<div class="modal fade" id="addPhotoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">사진 추가</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- 사진 추가 폼 -->
                <form id="photoForm" enctype="multipart/form-data" th:action="@{/travelmaker/plan/galleryPost}" method="post">
                    <div class="mb-3">
                        <label for="photoFile" class="form-label">사진 업로드</label>
                        <input type="file" class="form-control" id="photoFile" name="file" accept="image/*"
                               required>
                        <input type="hidden" name="plno" th:value="${plnno}">
                        <input type="hidden" name="pno" th:value="${ppno}">
                    </div>
                    <button type="submit" class="btn btn-primary">업로드</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--사진추가 모달 끝-->
</body>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ee26f1fb7bd8c053dc49854ce7b2d099"></script>
<script src="/js/planDetail.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</html>