<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<table class="table">
    <thead>
    <tr>
        <th scope="col">Bno</th>
        <th scope="col">Title</th>
        <th scope="col">Writer</th>
        <th scope="col">RegDate</th>
    </tr>
    </thead>
    <tbody th:with="link=${pageRequestDTO.getLink()}">
    <tr th:each="dto:${responseDTO.dtoList}">
        <th scope="row">[[${dto.bno}]]</th>
        <td>
            <a class="text-decoration-none"
               th:href="|@{/board/read(bno=${dto.bno})}&${link}|">[[${dto.title}]]</a>
            <span class="badge progress-bar-success" style="background-color:#cfe2ff">[[${dto.replyCount}]]</span>
        </td>
        <td>[[${dto.writer}]]</td>
        <td>[[${#temporals.format(dto.regDate, 'yyyy-MM-dd')}]]</td>
    </tr>
    </tbody>
</table>
</html>