<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>TravelMaker</title>
<!--    <link rel="stylesheet" href="/css/login.css">-->
    <link rel="stylesheet" th:href="@{/css/login.css}" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<!-- Navbar start -->
<header class="header">
    <nav class="navbar">
        <a href="#">Home1</a>
        <a href="#">Home2</a>
        <a href="#">Home3</a>
        <a href="#">Home4</a>
        <a href="#">Home5</a>
    </nav>
    <form action="" class="search-bar">
        <input type="text" placeholder="검색어를 입력하세요.">
        <button><i class='bx bx-search'></i></button>
    </form>
</header>
<!-- Navbar end -->

<div class="background"></div>
<div class="container">
    <div class="item">
        <h2 class="logo"><i class='bx bxl-xing'></i>TravelMaker</h2>
        <div class="text-item">
            <h2>Welcome <br><span>
                    우리들만의 여행플래너
                </span></h2>
            <p>쉽고 빠르게 여행을 계획하세요.</p>
            <div class="social-icon">
                <a href="#"><i class='bx bxl-facebook'></i></a>
                <a href="#"><i class='bx bxl-twitter'></i></a>
                <a href="#"><i class='bx bxl-youtube'></i></a>
                <a href="#"><i class='bx bxl-instagram'></i></a>
                <a href="#"><i class='bx bxl-linkedin'></i></a>
            </div>
        </div>
    </div>

    <!-- Login Form start -->
    <div class="login-section">
        <div class="form-box login">
            <!-- logout -->
            <th:block th:if="${param.logout != null}">
                <h1>로그아웃...</h1>
            </th:block>

            <form name="myForm" method="post" action="/travelmaker/signup">
                <h2>로그인</h2>
                <div class="input-box">
                    <span class="icon"><i class='bx bxs-envelope'></i></span>
                    <input type="text" name="username" required>
                    <label >아이디</label>
                </div>
                <div class="input-box">
                    <span class="icon"><i class='bx bxs-lock-alt' ></i></span>
                    <input type="password" name="password" required>
                    <label>비밀번호</label>
                </div>
                <div class="remember-password">
                    <label><input type="checkbox" name="remember-me">자동 로그인</label>
                    <a href="#">비밀번호 찾기</a>
                </div>

                <button class="btn" type="submit">로그인</button>

                <div class="create-account">
                    <p>새로운 계정을 만들까요? <a href="#" class="register-link">회원가입</a></p>
                </div>
<!--                <div class="create-account">-->
<!--                    <p>새로운 계정을 만들까요? <a href="/travelmaker/signup" class="register-link">회원가입</a></p>-->
<!--                </div>-->
            </form>
        </div>
        <!-- Login Form end -->

        <!-- Register Form start -->
        <div class="form-box register">
            <form id="registerForm" action="/travelmaker/signup" method="post">
                <h2>회원가입</h2>
                <div class="input-box">
                    <span class="icon"><i class='bx bxs-user'></i></span>
                    <input type="text" name="id" required>
                    <label >아이디</label>
                </div>
                <div class="input-box">
                    <span class="icon"><i class='bx bxs-lock-alt' ></i></span>
                    <input type="password" name="password" required>
                    <label>비밀번호</label>
                </div>
                <div class="input-box">
                    <span class="icon"><i class='bx bxs-user'></i></span>
                    <input type="text" name="name" required>
                    <label >이름</label>
                </div>
                <div class="input-box">
                    <span class="icon"><i class='bx bxs-envelope'></i></span>
                    <input type="email" name="email" required>
                    <label >이메일</label>
                </div>
                <!--                <div class="remember-password">-->
                <!--                    <label for=""><input type="checkbox">I agree with this statment</label>-->
                <!--                </div>-->
                <button class="btn">회원가입 완료</button>
                <div class="create-account">
                    <p>이미 계정이 있으신가요? <a href="#" class="login-link">로그인</a></p>
                </div>
            </form>
        </div>
        <!-- Register Form end -->
    </div>
</div>

<script src="/js/login.js"></script>

<script th:inline="javascript">

    const error = [[${error}]]

    if(error && error === 'id'){
        alert("동일한 ID를 가진 계정이 존재합니다.")
    }
</script>
</body>
</html>