<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.travelmaker.mapper.MybatisMapper">


    <select id="getPartyList" resultType="map" parameterType="Long">
        select party.pno, party_name from user_party join party on user_party.pno = party.pno where uno = #{uno}
    </select>

    <select id="getPlanList" resultType="map" parameterType="Long">
        select plan.plno, plan.title, plan.start, plan.end, plan.filepath from party join party_detail on party.pno = party_detail.pno join plan on party_detail.plno = plan.plno where party.pno= #{pno}
    </select>

    <select id="getPartyOne" resultType="Long">
        select party.pno from party where pno = #{pno}
    </select>

    <select id="selectFriendList" resultType="map" parameterType="map">
        select friend.uno, friend.fno, users.name from friend join users on friend.fno=users.uno where friend.uno=#{uno}
    </select>

    <select id="searchFriend" resultType="map" parameterType="map">
        select uno, name, id from users where id like CONCAT('%', #{id}, '%');
    </select>

    <select id="getPlanOne" resultType="map" parameterType="Long">
        select plan.plno, plan.title, plan.start, plan.end, plan.filepath, user_party.uno from party join party_detail on party.pno = party_detail.pno join plan on party_detail.plno = plan.plno join user_party on user_party.pno = party.pno where party.pno= #{pno} and party_detail.plno = #{plno} and user_party.uno=#{uno}
    </select>

    <update id="planUpdate">
        update plan set title=#{title}, Start=#{start}, End=#{end} where plno=#{plno}
    </update>

    <delete id="deleteMarker">
        delete from marker where plno=#{plno}
    </delete>

    <select id="selectAttendList" resultType="map" parameterType="map">
        select Attend.uno, Attend.attender, users.name from Attend join users on Attend.uno=users.uno where Attend.plno=#{plno}
    </select>

    <select id="getMarkersByPlno" resultType="org.zerock.travelmaker.dto.MarkerDTO">
        select lat, lng from Marker where plno=#{plno}
    </select>

    <select id="selectUserList" resultType="map" parameterType="map">
        select users.name from users where users.uno=#{uno}
    </select>

    <select id="searchParty" resultType="map">
        select party_name from party join user_party on party.pno = user_party.pno where party_name like concat('%', #{keyword}, '%') and uno=#{uno};
    </select>
</mapper>